/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Syntax;
  src: url("./assets/fonts/SyntaxLTStd-Roman.otf") format("opentype");
}

h1 {
  color: grey;
}

.form-group {
  margin-top: 20px;
  margin-left: 20px;
}

.ng-untouched .ant-col-4 {
  padding-left: 1px;
}

.logo-bar-bottom {
  margin: 0 0 0 -28px;
  color: #fff;
  font-family: Syntax;
  font-size: 1.95em;
  letter-spacing: 1px;
}

.ant-input, .ant-btn {
  width: 150px;
}

.center h1 {
  text-align: center;
}

p.info {
  color: red;
}

nz-alert, nz-rate {
  margin-bottom: 10px;
}

.ant-rate {
  font-size: 25px;
}
.bad .ant-rate {
  color: red;
}
.good .ant-rate {
  color: green;
}


/*
.ant-col-2, .ant-col-3, .ant-col-5 {
  border-color: black;
  border-style: solid;
}
*/
